<h2>Issue list</h2>
<mat-nav-list>
  <a mat-list-item routerLink="#">
    <mat-icon matListIcon style="color: red">fiber_new</mat-icon>
    <mat-icon matListIcon style="color: orange">build</mat-icon>
    <mat-icon matListIcon style="color: green">done</mat-icon>
    <h3 matLine>Issue1</h3>
    <small matLine>
      <mat-icon>place</mat-icon> PC1
      <mat-icon>access_time</mat-icon> 2018-11-11
    </small>
    <p matLine>Some description about this issue</p>
  </a>
  <a mat-list-item routerLink="#">
    <mat-icon matListIcon style="color: red">fiber_new</mat-icon>
    <mat-icon matListIcon style="color: orange">build</mat-icon>
    <mat-icon matListIcon style="color: green">done</mat-icon>
    <h3 matLine>Issue2</h3>
    <small matLine>
      <mat-icon>place</mat-icon> PC2
      <mat-icon>access_time</mat-icon> 2018-11-11
    </small>
    <p matLine>Some description about this issue</p>
  </a>
  <a mat-list-item routerLink="#">
    <mat-icon matListIcon style="color: red">fiber_new</mat-icon>
    <mat-icon matListIcon style="color: orange">build</mat-icon>
    <mat-icon matListIcon style="color: green">done</mat-icon>
    <h3 matLine>Issue3</h3>
    <small matLine>
      <mat-icon>place</mat-icon> PC3
      <mat-icon>access_time</mat-icon> 2018-11-11
    </small>
    <p matLine>Some description about this issue</p>
  </a>
</mat-nav-list>
